<div class="container">
    <div class="row buttons">
        <button class="btn btn-default" ng-click="switchLocale('en')">EN</button>
        <button class="btn btn-default" ng-click="switchLocale('ru')">RU</button>
    </div>
    <div class="row">
        <h4>Date:</h4>
        <span ng-non-bindable>{{ dt | glDate:{ datetime: "full" }}</span><br>
        {{ dt | glDate:{ datetime: "full" } }}
    </div>
    <div class="row">
        <h4>Simple Message:</h4>
        <span ng-non-bindable>{{ 'SAMPLE' | glMessage }}</span><br>
        {{ 'SAMPLE' | glMessage }}<br>
    </div>
    <div class="row">
        <h4>Plural:</h4>
        <span ng-non-bindable>{{ 'TASK' | glMessage:{ count: 0 } }}<br>
        {{ 'TASK' | glMessage:{ count: 1 } }}<br>
        {{ 'TASK' | glMessage:{ count: 2 } }}<br>
        {{ 'TASK' | glMessage:{ count: 3 } }}<br>
        {{ 'TASK' | glMessage:{ count: 4 } }}<br>
        {{ 'TASK' | glMessage:{ count: 5 } }}</span><br><br>

        {{ 'TASK' | glMessage:{ count: 0 } }}<br>
        {{ 'TASK' | glMessage:{ count: 1 } }}<br>
        {{ 'TASK' | glMessage:{ count: 2 } }}<br>
        {{ 'TASK' | glMessage:{ count: 3 } }}<br>
        {{ 'TASK' | glMessage:{ count: 4 } }}<br>
        {{ 'TASK' | glMessage:{ count: 5 } }}<br>
    </div>
    <div class="row">
        <h4>Gender:</h4>
        <span ng-non-bindable>Male: {{ 'LIKED' | glMessage:{ GENDER: 'male' } }}<br>
        Female: {{ 'LIKED' | glMessage:{ GENDER: 'female' } }}<br>
        They: {{ 'LIKED' | glMessage:{} }}</span><br><br>

        Male: {{ 'LIKED' | glMessage:{ GENDER: 'male' } }}<br>
        Female: {{ 'LIKED' | glMessage:{ GENDER: 'female' } }}<br>
        They: {{ 'LIKED' | glMessage:{} }}<br>
    </div>
    <div class="row">
        <h4>Number:</h4>
        <span ng-non-bindable>{{ 9000.42 | glNumber }}</span><br>
        {{ 9000.42 | glNumber }}
    </div>
    <div class="row">
        <h4>Currency:</h4>
        <span ng-non-bindable>{{ 9000.42 | glCurrency:"USD" }}</span><br>
        {{ 9000.42 | glCurrency:"USD" }}
    </div>
</div>
