<div class="container">
    <div class="row buttons">
        <button class="btn btn-default" ng-click="switchLocale('en')">EN</button>
        <button class="btn btn-default" ng-click="switchLocale('ru')">RU</button>
    </div>
    <div class="row">
        Date:
        {{ dt | glDate:{datetime: "full"} }}
    </div>
    <div class="row">
        Message:
        {{ 'SAMPLE' | glMessage }}
    </div>
    <div class="row">
        Number:
        {{ 9000.42 | glNumber }}
    </div>
    <div class="row">
        Currency:
        {{ 9000.42 | glCurrency:"USD" }}
    </div>
</div>
